<div class="flex items-start gap-4 h-full">
  <div class="w-1/3 pt-20"><.avatar /> <.image image64={@image64} /></div>
  <div class="w-2/3 h-screen">
    <iframe
      src="https://samgu.eu.qualtrics.com/jfe/form/SV_dmwElLOHB3KX4x0"
      width="100%"
      height="100%"
    >
    </iframe>
  </div>
</div>

<.script description={@description} />
