<.header>
  New Image
  <:subtitle>Use this form to manage image records in your database.</:subtitle>
</.header>

<.image_form changeset={@changeset} action={~p"/images"} />

<.back navigate={~p"/images"}>Back to images</.back>
